<div class="row m-0 col-0 vh-100" style="background-color: black;">
    <div class="col-12 home-fondo">
        <nav class="navbar navbar-light bg-light" style="position: relative;">
            <a class="navbar-brand" href="#">
                <img src="/assets/img/logoUtl.png" width="80" height="80" alt="">
            </a>
        </nav>
        <div class="row text-end">
            <div class="col-12 text-center tarjeta"
                style="float: inline-end; position: absolute; top: 25px;right: 0;margin: 0 20px 0 0">
                <div>
                    <span style="font-size: 40px; color: white;"><b>SOY ESTUDIANTE</b></span>
                </div>
                <div style="float: inline-end; position: absolute; top: 15px;right: 0;margin: 0 30px 0 0">
                    <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 mt-1">
                <div class="row">
                    <div class="">
                        <div class="col-12">
                            <div class="tarjeta-circulo mt-3">
                                <div class="mt-2">
                                    <span style="color: white; margin-left: 45px;"><b>Nuestra rectora</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="tarjeta-circulo mt-3">
                                <div class="mt-2">
                                    <span style="color: white; margin-left: 45px;"><b>Trámites
                                            escolares</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="tarjeta-circulo mt-3">
                                <div class="mt-2">
                                    <span style="color: white; margin-left: 45px; "><b>Servicios integrales </b></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="tarjeta-circulo mt-3">
                                <div class="mt-2">
                                    <span style="color: white; margin-left: 45px;"><b>Organos colegiados</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="tarjeta-circulo mt-3">
                                <div class="mt-2">
                                    <span style="color: white; margin-left: 45px;"><b>Normativa estudiantil</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="tarjeta-circulo mt-3">
                                <div class="mt-2">
                                    <span style="color: white; margin-left: 45px;"><b>Quejas y
                                            denuncias</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="tarjeta-circulo mt-3">
                                <div class="mt-2">
                                    <span style="color: white; margin-left: 45px;"><b>Contactanos</b></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-9 ">
                <div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXJ_SvUcBegORVF8sG7x6fXxXR_ImKB3o5sg&usqp=CAU"
                        height="220" width="900px" style="border-radius:15px;opacity: 0.5;">
                    <div class="centered-text" style="color: #002551; font-size: 40px;"><b> SER, SABER , HACER</b>
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <h4><b>Avisos y servicios</b></h4>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="card" style="width: 17rem;box-shadow: 2px 2px 8px 4px #d3d3d3d1;">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7MeeCA8bM_YXJaFA25SP--6WlbXSFqhJv2w&usqp=CAU"
                                        height="120px" width="230px" style="border-radius:5px;">
                                </div>
                                <div class="text-center mt-2">
                                    <span><b>Universidad Tecnologica de Leon</b></span>
                                </div>
                                <div style="text-align: justify;" class="mt-3">
                                    <p>El programa "IA para Todos" de UTL proporcionará a los estudiantes una amplia
                                        gama de recursos y oportunidades de aprendizaje en el campo de la IA. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card" style="width: 17rem;box-shadow: 2px 2px 8px 4px #d3d3d3d1;">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7MeeCA8bM_YXJaFA25SP--6WlbXSFqhJv2w&usqp=CAU"
                                        height="120px" width="230px" style="border-radius:5px;">
                                </div>
                                <div class="text-center mt-2">
                                    <span><b>Universidad Tecnologica de Leon</b></span>
                                </div>
                                <div style="text-align: justify;" class="mt-3">
                                    <p>El programa "IA para Todos" de UTL proporcionará a los estudiantes una amplia
                                        gama de recursos y oportunidades de aprendizaje en el campo de la IA. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card" style="width: 17rem;box-shadow: 2px 2px 8px 4px #d3d3d3d1;">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7MeeCA8bM_YXJaFA25SP--6WlbXSFqhJv2w&usqp=CAU"
                                        height="120px" width="230px" style="border-radius:5px;">
                                </div>
                                <div class="text-center mt-2">
                                    <span><b>Universidad Tecnologica de Leon</b></span>
                                </div>
                                <div style="text-align: justify;" class="mt-3">
                                    <p>El programa "IA para Todos" de UTL proporcionará a los estudiantes una amplia
                                        gama de recursos y oportunidades de aprendizaje en el campo de la IA. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="card" style="width: 57rem;box-shadow: 2px 2px 8px 4px #d3d3d3d1;">
                            <div class="card-body">
                                <div class="text-center">
                                    <span><b>AGENDA EVENTOS INSTITUCIONALES</b></span>
                                </div>
                                <div style="text-align: justify;" class="mt-3">
                                    <p>El programa "IA para Todos" de UTL proporcionará a los estudiantes una amplia
                                        gama de recursos y oportunidades de aprendizaje en el campo de la IA. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="text-center mt-3" style="background-color: #002551; color: white;">
        <br>
        <p>Blvr. Universidad Tecnologica #255 Col. San Marcos</p>
        <p>C.P 37670 Leon, Gto. Mex. | Tel (477) 71 0020</p>
        
      </footer>
</div>
