<div class="row m-0 col-0 vh-100" style="background-color: black;">
    <div class="col-12 home-fondo">
        <nav class="navbar navbar-light bg-light" style="position: relative;">
            <a class="navbar-brand" href="#">
                <img src="/assets/img/logoUtl.png" width="80" height="80" alt="">
            </a>
        </nav>
        <div class="row text-end">
            <div class="col-12 text-center tarjeta"
                style="float: inline-end; position: absolute; top: 25px;right: 0;margin: 0 20px 0 0">
                <div>
                    <span style="font-size: 40px; color: white;"><b>SOMOS UTL</b></span>
                </div>
                <div style="float: inline-end; position: absolute; top: 15px;right: 0;margin: 0 30px 0 0">
                    <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 mt-1">
                <div class="row">
                    <div class="">
                        <div class="col-12">
                            <div class="tarjeta-circulo mt-3">
                                <div class="mt-2">
                                    <span style="color: white; margin-left: 45px;"><b>Nuestra rectora</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="tarjeta-circulo mt-3">
                                <div class="mt-2">
                                    <span style="color: white; margin-left: 45px;"><b>Conoce la UTL</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="tarjeta-circulo mt-3">
                                <div class="mt-2">
                                    <span style="color: white; margin-left: 45px;"><b>Difusion e imagen</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="tarjeta-circulo mt-3">
                                <div class="mt-2">
                                    <span style="color: white; margin-left: 45px;"><b>Organos colejiados</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="tarjeta-circulo mt-3">
                                <div class="mt-2">
                                    <span style="color: white; margin-left: 45px;"><b>Norvativa</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="tarjeta-circulo mt-3">
                                <div class="mt-2">
                                    <span style="color: white; margin-left: 45px;"><b>Trasparencia</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="tarjeta-circulo mt-3">
                                <div class="mt-2">
                                    <span style="color: white; margin-left: 45px;"><b>Contactanos</b></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-3 mt-1 text-center">
                <div class="tarjeta-aviso" style="margin-left: -40px;">
                    <img src="/assets/img/imgAviso.jpeg" height="200px" style="border-radius: 15px; margin: 20px;">
                    <div class="text-center">
                        <span style="font-size: 20px;"><b>Avisos y privacidad</b></span>
                    </div>
                    <div style="text-align: justify; margin: 20px;">
                        <p>Información de identificación personal, como nombres, direcciones, números de teléfono y direcciones de correo electrónico.
                            Información educativa, como registros académicos, calificaciones y asistencia.
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-6 text-center">
                <div class="tarjeta-utl">
                    <img src="/assets/img/imgAlumnosUTl.jpg" height="440" style="border-radius:15px;">
                </div>
            </div>
        </div>
    </div>

</div>