<div class="row m-0 col-0 vh-100">
    <div class="col-12 home-fondo">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="/assets/img/logoUtl.png" width="80" height="80" alt="">
            </a>
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-secondary button-home"><span
                            class="text-black text-button" (click)="irSomosUtl()"><b>SOMOS UTL</b></span></button>
                    <button type="button" class="btn btn-secondary button-home"><span
                            class="text-black text-button" (click)="irSoyAspirante()"><b>SOY ASPIRANTE</b></span></button>
                    <button type="button" class="btn btn-secondary button-home"><span
                            class="text-black text-button" (click)="irSoyEstudiante()"><b>SOY ESTUDIANTE</b></span></button>
                    <button type="button" class="btn btn-secondary button-home"><span
                            class="text-black text-button" (click)="irSoyDocente()"><b>SOY DOCENTE</b></span></button>
                            <button type="button" class="btn btn-secondary button-home"><span
                                class="text-black text-button" (click)="irSoyEgresado()"><b>SOY EGRESADO</b></span></button>
                    <button type="button" class="btn btn-secondary button-home"><span
                            class="text-black text-button" (click)="irSoyAdministrativo()"><b>SOY ADMINISTRATIVO/A</b></span></button>
                    <button type="button" class="btn btn-secondary button-home"><span
                            class="text-black text-button" (click)="irSoyAempresario()"><b>SOY EMPRESARIO/A</b></span></button>
                </div>
            </div>
        </nav>
        <div class="row" style="margin-top: -20px;">
            <div class="col-12 text-end">
                <span class="text-white">Domingo 1 de octubre</span><br>
                <span class="text-white">14:20:22&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="col-6">
                <div class="tarjeta">
                    <div class="row">
                        <div class="col-12 text-center mt-3">
                            <h1><b>ZONA UTL</b></h1>
                        </div>
                        <div class="col-6 mt-3">
                            <div class="tarjeta-zona justify-content-start align-items-center">
                                <h4 class="mt-3"><b><i class="fa fa-laptop fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Aula virtual</b></h4>
                            </div>
                        </div>
                        <div class="col-6 mt-3" style="margin-left: -15px;">
                            <div class="tarjeta-zona justify-content-start align-items-center">
                                <h4 class="mt-1"><b>Calendario Escolar
                                    </b></h4><h4><b><i class="fa fa-calendar fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;2023-2024</b></h4>
                            </div>
                        </div>
                        <div class="col-6 mt-4">
                            <div class="tarjeta-zona justify-content-start align-items-center">
                                <h4 class="mt-3"><b><i class="fa fa-envelope fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Correo electronico</b></h4>
                            </div>
                        </div>
                        <div class="col-6 mt-4" style="margin-left: -15px;">
                            <div class="tarjeta-zona justify-content-start align-items-center">
                                <h4 class="mt-1"><b>Calendario Escolar
                                </b></h4><h4><b><i class="fa fa-calendar fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;2022-2023</b></h4>
                            </div>
                        </div>
                        <div class="col-6 mt-4">
                            <div class="tarjeta-zona justify-content-start align-items-center">
                                <h4 class="mt-3"><b><i class="fa fa-bandcamp fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Sito</b></h4>
                            </div>
                        </div>
                        <div class="col-6 mt-4" style="margin-left: -15px;">
                            <div class="tarjeta-zona justify-content-start align-items-center">
                                <h4 class="mt-3"><b><i class="fa fa-building fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Biblioteca</b></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 text-center">
                <img src="/assets/img/imgMorra.png" width="450" height="450">
            </div>
            <div class="col-12 text-center" style="background-color: #369F91;">
                <h2><b>Concoce nuestra universidad</b></h2>
            </div>
            <div class="col-12 home-fondo-blanco">
                <div class="row">
                    <div class="col-6 mt-5">
                        <div class="tarjeta-plans">
                            <div class="row">
                                <div class="col-3">
                                    <img src="/assets/img/imgAlumnosUTl.jpg" width="90" height="90"
                                        style="margin: 13px; border-radius: 15px;">
                                </div>
                                <div class="col-9">
                                    <div class="text-start" style="margin: 15px;">
                                        <span style="font-size: 20px;"><b>¿Quiénes somos?</b></span>
                                    </div>
                                    <div style="text-align: justify; margin-right: 20px;">
                                        Innovación
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt-5">
                        <div class="tarjeta-plans">
                            <div class="row">
                                <div class="col-3">
                                    <img src="/assets/img/imgAlumnosUTl.jpg" width="90" height="90"
                                        style="margin: 13px; border-radius: 15px;">
                                </div>
                                <div class="col-9">
                                    <div class="text-start" style="margin: 15px;">
                                        <span style="font-size: 20px;"><b>Mensaje institucional</b></span>
                                    </div>
                                    <div style="text-align: justify; margin-right: 20px;">
                                        Mensaje Clave
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt-4">
                        <div class="tarjeta-plans">
                            <div class="row">
                                <div class="col-3">
                                    <img src="/assets/img/imgAlumnosUTl.jpg" width="90" height="90"
                                        style="margin: 13px; border-radius: 15px;">
                                </div>
                                <div class="col-9">
                                    <div class="text-start" style="margin: 15px;">
                                        <span style="font-size: 20px;"><b>Noticias</b></span>
                                    </div>
                                    <div style="text-align: justify; margin-right: 20px;">
                                        Últimas noticias
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt-4">
                        <div class="tarjeta-plans">
                            <div class="row">
                                <div class="col-3">
                                    <img src="/assets/img/imgAlumnosUTl.jpg" width="90" height="90"
                                        style="margin: 13px; border-radius: 15px;">
                                </div>
                                <div class="col-9">
                                    <div class="text-start" style="margin: 15px;">
                                        <span style="font-size: 20px;"><b>Transparencia</b></span>
                                    </div>
                                    <div style="text-align: justify; margin-right: 20px;">
                                        Información abierta
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt-4">
                        <div class="tarjeta-plans">
                            <div class="row">
                                <div class="col-3">
                                    <img src="/assets/img/imgAlumnosUTl.jpg" width="90" height="90"
                                        style="margin: 13px; border-radius: 15px;">
                                </div>
                                <div class="col-9">
                                    <div class="text-start" style="margin: 15px;">
                                        <span style="font-size: 20px;"><b>UTL en cifras</b></span>
                                    </div>
                                    <div style="text-align: justify; margin-right: 20px;">
                                        Datos relevantes
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt-4">
                        <div class="tarjeta-plans">
                            <div class="row">
                                <div class="col-3">
                                    <img src="/assets/img/imgAlumnosUTl.jpg" width="90" height="90"
                                        style="margin: 13px; border-radius: 15px;">
                                </div>
                                <div class="col-9">
                                    <div class="text-start" style="margin: 15px;">
                                        <span style="font-size: 20px;"><b>Normativa</b></span>
                                    </div>
                                    <div style="text-align: justify; margin-right: 20px;">
                                        Reglas y políticas
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-12 text-center" style="background-color: #ffffff;">
                <span></span>
            </div>
            <div class="col-12 text-center" style="background-color: #002551;">
                <span></span>
            </div>
        </div>
    </div>
</div>